@font-face {
    font-family: 'AvenirDemi';
    src: url('../assets/Font/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../assets/Font/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'AvenirRegular';
    src: url('../assets/Font/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: 400;
}

