// Primary
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #ffffff;

// Secondary
$secondary-darkblack: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

// Border 
$border-error: #d22d2d;






