// Primary
$primary-dark-color: #323232;
$primary-silver-color: #AFAFAF;
$primary-light-color: #ffffff;

// Secondary
$secondary-dark-color: #000000;
$secondary-outline-color: #e1e1e1;
$secondary-light-color: #fafafa;






