@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins" as *;

// Mobile Version;
.comment {
    margin: 0 1rem;
    background-color: $primary-white;

    &__title {
        @include header-mobile;
        margin: 1.5rem 0;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $secondary-mercury;
        gap: 1rem;    
    }

    &__image {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        margin-top: 1.5rem;
    }

    
    &__inputbox {
        display: flex; 
        flex-direction: column;
        width: 100%;

        &--text {
            @include bodycopy-mobile;
            color: $primary-silver;
            margin: 0 0 0.25rem 0;
        }
        
    }

    &__textbox {
        background-color: $secondary-alabaster;
        color: $primary-silver;
        border: 1px solid $secondary-mercury;
        resize: none;
        border-radius: 0.25rem;
        padding: 0.75rem;
        
        &:focus {
            border: 1px solid $primary-black;
            background-color: $primary-white;
            color: $primary-black;
        }

        &--one {
            margin: 0 0 1rem 0;
        }

        &--two {
            margin: 0 0 1rem 0;
        }
    }
    

    &__button {
        @include btn-comment;
        width: auto;
        margin: 0 0 1rem 0;    
    }    

    // Default Comment Section
    &__default {
        border-bottom: 1px solid $secondary-mercury;
        display: flex;
        margin-top: 1rem;
    }

    &__image-container {
        width: 20%;

        &--image{
            background-color: $secondary-mercury;
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            margin-top: 1rem;
        }
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    } 
    
    &__content-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--name {
            @include subheader-mobile;
        }

        &--date {
            @include bodycopy-mobile;
            color: $primary-silver;        
        } 
    }
    &__text-container {
        width: 100%;
        
        &--comment {
            @include bodycopy-mobile;
            margin: 0 0 1rem 0;
        }
    }
}

// Tablet Version
@include tablet {
    .comment {
        margin: 0 2.25rem;
        padding: 0 0 2.25rem 0;

        &__title {
            @include sectionheader-tablet;
            margin: 3rem 0rem 2.25rem 0rem;
        }
    
        &__container{
            width: 85%;
            margin: 0 auto;
        }
    
        &__image {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin-top: 1rem;
        }
        
        
        &__inputbox {
            &--text {
                @include bodycopy-tablet;
                margin: 0 0 0.25rem 0;
            }  
        }
        &__textbox {
            padding: 1rem;
        }

        &__button {
            @include btn-comment;
            width: 30%;
            margin: 0 0 1rem 0;
            left: 70%;
            position: relative;
            min-width: 9.375rem; 
        }
            // Default Comment Section
        &__default-comment{
            width: 85%;
            margin: 0 auto;
        }

        &__image-container {
            width: 10%;
            
            &--image {
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                margin-top: 1rem;
            }
        }
        
        &__content-container {
            width: 90%;
        }
        &__content-header{
            &--name {
                @include bodycopy-tablet;
                font-weight: 800;
            }

            &--date {
                @include bodycopy-tablet;  
            } 
        }
    
        &__text-container {
            &--comment {
                @include bodycopy-tablet;
            }
        }
    }
}


// Desktop Version
@include desktop {
    .comment {
        margin: 0 8rem;
        padding: 0 0 2.25rem 0;
    
        &__container{
            width: 50%;
            margin: 0 auto;
        }

        // Default Comment Section

        &__default-comment{
            width: 50%;
            margin: 0 auto;
        }
    }
}