@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins" as *;
// Mobile Version 
.footer {
    background-color: $primary-black;
    
    &__container {
        margin: 0 1rem;
    }
    &__header {
        position: relative;
    
        &-title {
            color: $primary-white;
            @include header-mobile;
        }

        &-logo {
            max-width: 7.5rem;
            max-height: 1.25rem;
            position: absolute;
            top: 34rem;
        }
    }

    &__social-container {
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-bottom: 1rem;
    }

    &__contact-info-container {
        display:flex;
        flex-direction: column;
        color: $primary-white;
    }

    &__contact-name {
        @include footercopy-mobile;
        margin: 0;
    }

    &__contact-group {
        @include footercopy-mobile;
        padding: 0 0 1rem 0;
        margin: 0;
    }

    &__contact-address {
        @include footercopy-mobile;
        margin: 0;
    }

    &__contact-country {
        @include footercopy-mobile;
        margin:0;
        padding: 0 0 1rem 0;
    }

    &__contact-email {
        margin: 0;
        padding: 0 0 1rem 0;

        &-link {
            text-decoration: none;
            @include footercopy-mobile;
            color: $primary-white;
            margin: 0;
            padding: 0 0 1.5rem 0;
        

            &:hover {
                color: $primary-silver;
            }
        }
    }

    &__copyright {
        color: $primary-white;
        @include footercopy-mobile;
        margin: 3rem 0 0 0;
        padding: 1.2rem 0;

    }    
}
// Tablet Version
@include tablet {
    .footer {
        padding-top: 2.25rem;
        
        &__container {
            margin: 0 2.25rem;
        }
        &__header {
            display: flex;
            justify-content: space-between;
            width: 50vw;
            align-content: center;

        
            &-title {
                color: $primary-white;
                @include sectionheader-tablet;
                margin: 0;
                position: relative;
            }

    
            &-logo {
                max-width: 7.5rem;
                max-height: 1.25rem;
                margin-left: 35rem;
                margin-top: -33rem;
            }
        }
    
        &__social-container {
            display: flex;
            align-items: center;
            width: 17vw;
            padding: 0;
        }

        &__people {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__contact-info-container {
            width: 29vh;
            margin: 2.25rem 2.25rem 0 0;
            

            &:nth-child(3) {
                margin-right: 0;
            }
        }
    
        &__contact-name {
            @include footercopy-tablet;
            margin: 0;
        }
    
        &__contact-group {
            @include footercopy-tablet;
            padding: 0 0 2.25rem 0;
            margin: 0;
        }
    
        &__contact-address {
            @include footercopy-tablet;
            margin: 0;
        }
    
        &__contact-country {
            @include footercopy-tablet;
            margin:0;
            padding: 0 0 2.25rem 0;
        }
    
        &__contact-email {
            margin: 0;
            padding: 0;
    
            &-link {
                text-decoration: none;
                @include footercopy-tablet;
                margin: 0;
                padding: 0;
            }
        }
    
        &__copyright {
            color: $primary-white;
            @include footercopy-tablet;
            margin: 3rem 0 0 0;
            padding: 0 0 2.25rem 0;
        }    
    }
}
// Desktop Version
@include desktop {
    .footer {
        padding-top: 2.25rem;
        
        &__container {
            margin: 0 8rem;
        }
        &__header {
            width: 35vw;
        
            &-logo {
                max-width: 7.5rem;
                max-height: 1.25rem;
                margin-left: 54rem;
                margin-top: -33rem;
            }
        }
    
        &__social-container {  
            width: 12vw;

        }
    
        &__contact-info-container {
            width: 24vh;
            margin: 2.25rem 2.25rem 0 0;

        }
    }
}

