@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins"as *;

// Mobile Version
.hero {
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 30vh;
    
    &__container {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 30vh;
        background-color: rgba(50,50,50,0.5);
    }
    &__title {
        @include header-mobile;
        color: $primary-white;
        padding: 0 1rem;
    
    }

}

