@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins" as *;

// Mobile Version
.main {
    background-color: $primary-white;
    color: $primary-black;
    margin: 0 1rem;

    &__title {
        @include header-mobile;
    }

    &__container-image {
        height: 50vw;
        width: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;   
    }

    &__interview, &__musicians {
        @include subheader-mobile
    }

    &__band {
        @include subheader-mobile;
    }

    &__band-text {
        @include bodycopy-mobile;
    }
}

// Tablet Version
@include tablet {
    .main {
        margin: 0;

        &__title {
            @include sectionheader-tablet;            
            margin: 3rem 2.25rem 2.25rem 2.25rem;
        }

        &__container-image {
            height: 40vw; 
        }
        &__image {
            width: 76vw;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &__interview {
            @include subheader-tablet;
            margin: 2.25rem 5.75rem 0 5.75rem;
        }

        &__musicians {
            @include subheader-tablet;
            font-size: 1rem;
            margin: 2.25rem 5.75rem 0 5.75rem;
        }

        &__band {
            @include subheader-tablet;
            margin: 2.25rem 5.75rem 0 5.75rem;
        }

        &__band-description {
            display: flex;
            
        }

        &__band-text:nth-child(1) {
            @include bodycopy-tablet;
            margin: 2.25rem 2.25rem 2.25rem 5.75rem;
        }

        &__band-text:nth-child(2) {
            @include bodycopy-tablet;
            margin: 2.25rem 5.75rem 2.25rem 0;
        }
    }
}

@include desktop {
    .main {
        &__title {
            margin: 3rem 2.25rem 2.25rem 8rem;
        }

        &__container-image {
            height: 40vw; 
        }
        &__image {
            width: 65vw;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &__interview {
            margin: 2.25rem 14rem 0 14rem;
        }

        &__musicians {
            font-size: 1rem;
            margin: 2.25rem 14rem 0 14rem;
        }

        &__band {
            margin: 2.25rem 14rem 0 14rem;
        }

        &__band-text:nth-child(1) {
            margin: 2.25rem 2.25rem 2.25rem 14rem;
        }

        &__band-text:nth-child(2) {
            @include bodycopy-tablet;
            margin: 2.25rem 14rem 2.25rem 0;
        }
    }
}