// Mobile
@use "../variables" as *;

@mixin header-mobile {
    font-family: "AvenirDemi";
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin subheader-mobile {
    font-family: "AvenirDemi";
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin bodycopy-mobile {
    font-family: "AvenirRegular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

@mixin footercopy-mobile {
    font-family: "AvenirRegular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

// Tablet  & Desktop

@mixin pageheader-tablet {
    font-family: "AvenirDemi";
    font-size: 3.75rem;
    line-height: 4.25rem;
}

@mixin sectionheader-tablet {
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
}

@mixin subheader-tablet {
    font-family: "AvenirDemi";
    font-size: 1.3rem;
    line-height: 2rem;
}

@mixin bodycopy-tablet {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin footercopy-tablet {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
}
    

// Button
@mixin btn-comment {
    background-color: $secondary-darkblack;
    color: $primary-white;
    text-align: center;
    padding: 0;
    border-style: none;
    border-radius: 0.25rem;
    height: 2.5rem;
}