@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins"as *;

.photo {
    margin: 0 1rem;
    background-color: $secondary-alabaster;

    &__title {
        color: $primary-black;
        @include header-mobile;
    }

    &__conatiner {
        display: flex;
        flex-direction: column;
    }

    &__image {
        height: 50vw;
        width: 100%;

        &:hover {
            filter: grayscale(0%);
            box-shadow: 5px 5px 15px;
        }
    }
}