@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins"as *;

.shows {
    &__title {
        @include header-mobile;
        margin: 2.25rem 1rem 0 1rem;
    }

    &__header {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__content {
        border-bottom: 1px solid $secondary-mercury;

        &-label {
            @include bodycopy-mobile;
            font-size: 0.7rem;
            color: $primary-silver;
            margin: 1.25rem 1rem 0 1rem;
            
            &--date{
                @include bodycopy-bold-mobile;
                color: $primary-black;
                margin: 0.25rem 1rem 0 1rem;
            }

            &--venue {
                @include bodycopy-mobile;
                color: $primary-black;
                margin: 0.25rem 1rem 0 1rem;
            }

            &--location {
                @include bodycopy-mobile;
                color: $primary-black;
                margin: 0.25rem 1rem 0 1rem;
            }
        
            &--button {
                @include btn;
                width: 100%;
                margin-bottom: 1rem;

                &:hover {
                    background-color: $primary-black;
                    box-shadow:  2px 2px 20px;
                }
            }
        }
        &-btn-container {
            margin: 1.25rem 1rem 0 1rem;;
        }
    }
}

@include tablet {
    .shows {
        &__title {
            @include sectionheader-tablet;
            margin: 2.25rem 2.25rem 0 2.25rem;
        }

        &__header {
            margin: 0 2.25rem;
            display: flex;
            justify-content: space-between;
            @include bodycopy-tablet;
            

            &-date, &-venue, &-location, &-button {
                margin: 1rem 0;
                width: 20vw;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 2.25rem;

            &:hover {
                background-color: $secondary-alabaster;
            }
            
            &-label{
                display: none;
                
                
                &--date{
                    @include bodycopy-tablet;
                    font-family: "AvenirDemi";
                    margin: 0;
                    width: 20vw
                }
    
                &--venue {
                    @include bodycopy-tablet;
                    margin: 0;
                    width: 20vw
                }
    
                &--location {
                    @include bodycopy-tablet; 
                    margin: 0;
                    width: 20vw
                }

                &--button {
                    @include btn;
    
                    &:hover {
                        background-color: $primary-black;
                        box-shadow:  2px 2px 20px;
                    }
                }
            }
            &-btn-container {
                margin-top: 1rem;
                width: 20vw;
            }
        }
    }
}

