@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins"as *;


.active {
    background-color: $secondary-mercury !important;
}
.shows {
    &__title {
        @include header-mobile;
        margin: 2.25rem 1rem 0 1rem;
    }

    &__header {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;

    }

    &__content {
        border-bottom: 1px solid $secondary-mercury;



        &:hover {
            background-color: $secondary-alabaster;
        }

        &-label {
            @include bodycopy-mobile;
            font-size: 0.7rem;
            color: $primary-silver;
            margin: 1.25rem 1rem 0 1rem;
            
            &--date{
                @include bodycopy-bold-mobile;
                color: $primary-black;
                margin: 0.25rem 1rem 0 1rem;
            }

            &--venue {
                @include bodycopy-mobile;
                color: $primary-black;
                margin: 0.25rem 1rem 0 1rem;
            }

            &--location {
                @include bodycopy-mobile;
                color: $primary-black;
                margin: 0.25rem 1rem 0 1rem;
            }
        
            &--button {
                @include btn;
                width: 100%;
                margin-bottom: 1rem;

                &:hover {
                    background-color: $primary-black;
                    box-shadow:  2px 2px 20px;
                }
            }
        }
        &-btn-container {
            margin: 1.25rem 1rem 0 1rem;;
        }
    }
}



@include tablet {
    .shows {
        &__title {
            @include sectionheader-tablet;
            margin: 2.25rem 2.25rem 0 2.25rem;
        }

        &__header {
            margin: 2.25rem 2.25rem 0 2.25rem;
            display: flex;
            justify-content: space-between;
            @include bodycopy-tablet;
            font-size: 0.7rem;
            

            &-date, &-venue, &-location, &-button {
                margin: 0;
                width: 20vw;
                
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 2.25rem;
            
            &-label{
                display: none;
                
                
                &--date{
                    @include bodycopy-tablet;
                    font-family: "AvenirDemi";
                    margin: 0;
                    width: 20vw
                }
    
                &--venue {
                    @include bodycopy-tablet;
                    margin: 0;
                    width: 20vw
                }
    
                &--location {
                    @include bodycopy-tablet; 
                    margin: 0;
                    width: 20vw
                }

                &--button {
                    @include btn;
                    width: 20vw;
    
                    &:hover {
                        background-color: $primary-black;
                        box-shadow:  2px 2px 20px;
                    }
                }
            }
            &-btn-container {
                margin: 1rem 0 0 0;
                width: 20vw;
            }
        }
    }
}

@include desktop {
    .shows {
        display: flex;
        
        &__title {
            @include sectionheader-tablet;
            margin: 3rem 8rem 0 8rem;
            width: 20vh;
        }

        &__header {
            margin: 0 8rem 0 2.25rem;
            display: flex;
            justify-content: space-between;
            @include bodycopy-tablet;
            font-size: 0.7rem;
            

            &-date, &-venue, &-location, &-button {
                margin: 0;
                width: 20vw;
                
            }
        }
        &__container {
            width: 70vw;
            margin: 3rem 0 2.25rem 0;
            
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 8rem 0 2.25rem;
            
            &-label{
                display: none;
                
                
                &--date{
                    @include bodycopy-tablet;
                    font-family: "AvenirDemi";
                    margin: 0;
                    width: 12vw;
                }
    
                &--venue {
                    @include bodycopy-tablet;
                    margin: 0;
                    width: 12vw;
                }
    
                &--location {
                    @include bodycopy-tablet; 
                    margin: 0;
                    width: 13.5vw;
                }

                &--button {
                    @include btn;
                    width: 12.8vw;
    
                    &:hover {
                        background-color: $primary-black;
                        box-shadow:  2px 2px 20px;
                    }
                }
            }
            &-btn-container {
                margin: 1rem 0 0 0;
                width: 12.8vw;
            }
        }
    }
}

