@use "../variables" as *;
@use "../breakpoints" as *;
@use "../fonts" as *;
@use "./mixins"as *;

.shows {
    &__header {
        display: none;
    }

//     &__title {
//         @include header-mobile;
//         margin: 2.25rem 1rem 0 0.75rem;
//     }

//     &__container {
//         display: flex;
//         flex-direction: column;
//     }

//     &__content {
//         border-bottom: 1px solid $secondary-mercury;
//     }

//     &__title-date {
//         @include bodycopy-mobile;
//         margin: 1.5rem 1rem 0  1rem;
//         color: $primary-silver;

//         &--value {
//             color: $primary-black;
//             @include bodycopy-bold-mobile;
//         }
//     }

//     &__title-venue {
//         @include bodycopy-mobile;
//         margin: 1.5rem 1rem 0  1rem;
//         color: $primary-silver;

//         &--value {
//             color: $primary-black;
//         }
//     }

//     &__title-location {
//         @include bodycopy-mobile;
//         margin: 1.5rem 1rem 0 1rem;
//         color: $primary-silver;

//         &--value {
//             color: $primary-black;
//         }
//     }

//     &__title-button {
//         @include btn;
//         width: 90%;
//         margin: 1rem;
//     }
}

@include tablet {
    .shows {
        &__header {
            display: flex;

        }

        &__content {

            &--date-title, &--venue-title, &--location-title{
                display: none;
            }
        }
    }
}