@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirBold";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
}
.header {
  background-color: #323232;
  width: 100vw;
  height: 4rem;
}
.header__container-logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0;
}
.header__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

.primary-nav__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  color: #e1e1e1;
  font-family: "AvenirDemi";
  font-size: 1rem;
}
.primary-nav__list-item {
  width: 100vw;
}
.primary-nav__list-item:hover {
  border-bottom: white 4px solid;
}

@media screen and (min-width: 768px) {
  .header__medium {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 4rem;
    margin: 0 2.25rem;
  }
  .header__container-logo {
    margin: 0;
  }
  .header .primary-nav__list {
    margin: 0 2.25rem;
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 4rem;
    font-family: "AvenirDemi";
    color: #e1e1e1;
  }
  .header .primary-nav__list-item {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header__medium {
    margin: 0 3.9375rem 0 8rem;
  }
  .header .primary-nav__list {
    margin: 0 3.9375rem;
    width: 15vw;
  }
}
.hero {
  margin: 0;
  padding: 0;
  background-image: url(../../../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 30vh;
}
.hero__container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  padding: 0;
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
  }
  .hero__container {
    height: 30rem;
  }
  .hero__title {
    font-family: "AvenirDemi";
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 36rem;
  }
  .hero__container {
    height: 36rem;
  }
  .hero__title {
    margin: 0 8rem;
  }
}
.main {
  background-color: #ffffff;
  color: #323232;
  margin: 0 1rem;
}
.main__title {
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
}
.main__container-image {
  height: 50vw;
  width: 100%;
}
.main__image {
  width: 100%;
  height: 100%;
}
.main__interview, .main__musicians {
  font-family: "AvenirDemi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.main__band {
  font-family: "AvenirDemi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.main__band-text {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 0;
  }
  .main__title {
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 2.25rem 2.25rem 2.25rem;
  }
  .main__container-image {
    height: 40vw;
  }
  .main__image {
    width: 76vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .main__interview {
    font-family: "AvenirDemi";
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 2.25rem 5.75rem 0 5.75rem;
  }
  .main__musicians {
    font-family: "AvenirDemi";
    font-size: 1.3rem;
    line-height: 2rem;
    font-size: 1rem;
    margin: 2.25rem 5.75rem 0 5.75rem;
  }
  .main__band {
    font-family: "AvenirDemi";
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 2.25rem 5.75rem 0 5.75rem;
  }
  .main__band-description {
    display: flex;
  }
  .main__band-text:nth-child(1) {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 2.25rem 2.25rem 2.25rem 5.75rem;
  }
  .main__band-text:nth-child(2) {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 2.25rem 5.75rem 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .main__title {
    margin: 3rem 2.25rem 2.25rem 8rem;
  }
  .main__container-image {
    height: 40vw;
  }
  .main__image {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .main__interview {
    margin: 2.25rem 14rem 0 14rem;
  }
  .main__musicians {
    font-size: 1rem;
    margin: 2.25rem 14rem 0 14rem;
  }
  .main__band {
    margin: 2.25rem 14rem 0 14rem;
  }
  .main__band-text:nth-child(1) {
    margin: 2.25rem 2.25rem 2.25rem 14rem;
  }
  .main__band-text:nth-child(2) {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 2.25rem 14rem 2.25rem 0;
  }
}
.photo {
  background-color: #fafafa;
}
.photo__title {
  margin: 0 1rem;
  color: #323232;
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
}
.photo__conatiner {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vw;
  width: 90vw;
}
.photo__image:hover {
  filter: grayscale(0%);
  box-shadow: 5px 5px 15px;
}

@media screen and (min-width: 768px) {
  .photo__title {
    margin: 0 2.25rem;
    padding: 3rem 0 0 0;
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .photo__container {
    margin: 2.25rem 2.25rem 0 2.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo__image {
    height: 18vw;
    width: 28vw;
    margin: 0 1.5rem 1.5rem 0;
  }
  .photo__image--three, .photo__image--six, .photo__image--nine {
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .photo__title {
    margin: 0 8rem;
    padding: 3rem 0 0 0;
  }
  .photo__container {
    margin: 2.25rem 8rem 0 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo__image {
    height: 15vw;
    width: 24.79vw;
    margin: 0 1.5rem 1.5rem 0;
  }
}
.footer {
  background-color: #323232;
}
.footer__container {
  margin: 0 1rem;
}
.footer__header {
  position: relative;
}
.footer__header-title {
  color: #ffffff;
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
}
.footer__header-logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  position: absolute;
  top: 34rem;
}
.footer__social-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-bottom: 1rem;
}
.footer__contact-info-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.footer__contact-name {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
.footer__contact-group {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  margin: 0;
}
.footer__contact-address {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
.footer__contact-country {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  padding: 0 0 1rem 0;
}
.footer__contact-email {
  margin: 0;
  padding: 0 0 1rem 0;
}
.footer__contact-email-link {
  text-decoration: none;
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #ffffff;
  margin: 0;
  padding: 0 0 1.5rem 0;
}
.footer__contact-email-link:hover {
  color: #AFAFAF;
}
.footer__copyright {
  color: #ffffff;
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 3rem 1rem 0 1rem;
  padding: 1.2rem 0;
  font-size: 0.65rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 2.25rem;
  }
  .footer__container {
    margin: 0 2.25rem;
  }
  .footer__header {
    display: flex;
    gap: 2.25rem;
    width: 90vw;
    align-items: center;
  }
  .footer__header-title {
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
  }
  .footer__header-logo {
    position: static;
    margin-left: 20vw;
  }
  .footer__social-container {
    display: flex;
    align-items: center;
    width: 17vw;
    padding: 0;
  }
  .footer__people {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__contact-info-container {
    width: 27vw;
    margin: 2.25rem 2.25rem 0 0;
  }
  .footer__contact-info-container:nth-child(3) {
    margin-right: 0;
  }
  .footer__contact-name {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
  }
  .footer__contact-group {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0 0 2.25rem 0;
    margin: 0;
  }
  .footer__contact-address {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
  }
  .footer__contact-country {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    padding: 0 0 2.25rem 0;
  }
  .footer__contact-email {
    margin: 0;
    padding: 0;
  }
  .footer__contact-email-link {
    text-decoration: none;
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    padding: 0;
  }
  .footer__copyright {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 3rem 2.25rem 0 2.25rem;
    padding: 0 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2.25rem;
  }
  .footer__container {
    margin: 0 8rem;
  }
  .footer__header {
    width: 80vw;
  }
  .footer__header-logo {
    margin-left: 35vw;
  }
  .footer__social-container {
    width: 12vw;
  }
  .footer__contact-info-container {
    width: 24vh;
    margin: 2.25rem 2.25rem 0 0;
  }
  .footer__copyright {
    margin: 3rem 8rem 0 8rem;
    padding: 0 0 2.25rem 0;
  }
}
* {
  font-family: "AvenirRegular", "AvenirDemi", "AvenirBold", Verdana, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=bio.css.map */