@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
  font-family: "AvenirBold";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "AvenirDemi2";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
}
@font-face {
  font-family: "AvenirBold2";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "AvenirRegular2";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
}
.header {
  background-color: #323232;
  width: 100vw;
  height: 5rem;
}
.header__container-logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0;
}
.header__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

.primary-nav__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "AvenirDemi";
  font-size: 1rem;
}
.primary-nav__list-item {
  width: 100vw;
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 1rem;
}
.primary-nav__list-item:hover {
  border-bottom: white 4px solid;
  color: #ffffff;
}
.primary-nav__list-active {
  border-bottom: white 4px solid;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__medium {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 5rem;
    margin: 0 2.25rem;
  }
  .header__container-logo {
    margin: 0;
  }
  .header .primary-nav__list {
    margin: 0 2.25rem;
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 5rem;
    font-family: "AvenirDemi";
    color: #e1e1e1;
  }
  .header .primary-nav__list-item {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__medium {
    margin: 0 3.9375rem 0 8rem;
  }
  .header .primary-nav__list {
    margin: 0 3.9375rem;
    width: 15vw;
  }
}
.hero {
  margin: 0 auto;
  background-image: url(../../../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 33vh;
}
.hero__container {
  height: 33vh;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
}
.hero__album {
  font-family: "AvenirDemi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #ffffff;
  margin: 1.5rem 1rem;
}
.hero__album--title {
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 1rem 1.5rem 1rem;
  color: #ffffff;
}
.hero__song-container {
  margin: 0 auto;
}
.hero__song {
  width: 18rem;
  height: 5rem;
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    width: 100vw;
    height: 65vh;
  }
  .hero__container {
    height: 65vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .hero__album {
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 2.25rem 1.5rem 2.25rem;
    width: 70vw;
  }
  .hero__album--title {
    font-family: "AvenirDemi";
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0 2.25rem 3rem 2.25rem;
    width: 70vw;
  }
  .hero__song-container {
    margin: 0 0 2.25rem 2.25rem;
    width: 70vw;
  }
  .hero__song {
    width: 25rem;
    height: 9rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 100vw;
    height: 70vh;
  }
  .hero__container {
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hero__text-container {
    width: 50vw;
  }
  .hero__album {
    font-family: "AvenirDemi";
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 0 0 8rem;
    width: 30vw;
  }
  .hero__album--title {
    font-family: "AvenirDemi";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-size: 3rem;
    margin: 0 0 0 8rem;
    width: 30vw;
  }
  .hero__song-container {
    margin: 1.4rem 0 0 0;
    width: 50vw;
  }
  .hero__song {
    width: 30rem;
    height: 9rem;
  }
}
.footer {
  background-color: #323232;
}
.footer__container {
  margin: 0 1rem;
}
.footer__header {
  position: relative;
}
.footer__header-title {
  color: #ffffff;
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
}
.footer__header-logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  position: absolute;
  top: 34rem;
}
.footer__social-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-bottom: 1rem;
}
.footer__contact-info-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.footer__contact-name {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
.footer__contact-group {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  margin: 0;
}
.footer__contact-address {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
.footer__contact-country {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  padding: 0 0 1rem 0;
}
.footer__contact-email {
  margin: 0;
  padding: 0 0 1rem 0;
}
.footer__contact-email-link {
  text-decoration: none;
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #ffffff;
  margin: 0;
  padding: 0 0 1.5rem 0;
}
.footer__contact-email-link:hover {
  color: #AFAFAF;
}
.footer__copyright {
  color: #ffffff;
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 3rem 1rem 0 1rem;
  padding: 1.2rem 0;
  font-size: 0.65rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 2.25rem;
    position: relative;
  }
  .footer__container {
    margin: 0 2.25rem;
  }
  .footer__header {
    display: flex;
    gap: 2.25rem;
    width: 90vw;
    align-items: center;
    position: static;
  }
  .footer__header-title {
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
  }
  .footer__header-logo {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  .footer__social-container {
    display: flex;
    align-items: center;
    width: 17vw;
    padding: 0;
  }
  .footer__people {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__contact-info-container {
    width: 27vw;
    margin: 2.25rem 2.25rem 0 0;
  }
  .footer__contact-info-container:nth-child(3) {
    margin-right: 0;
  }
  .footer__contact-name {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
  }
  .footer__contact-group {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0 0 2.25rem 0;
    margin: 0;
  }
  .footer__contact-address {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
  }
  .footer__contact-country {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    padding: 0 0 2.25rem 0;
  }
  .footer__contact-email {
    margin: 0;
    padding: 0;
  }
  .footer__contact-email-link {
    text-decoration: none;
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    padding: 0;
  }
  .footer__copyright {
    font-family: "AvenirRegular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 3rem 2.25rem 0 2.25rem;
    padding: 0 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2.25rem;
  }
  .footer__container {
    margin: 0 8rem;
  }
  .footer__header {
    width: 80vw;
  }
  .footer__social-container {
    width: 12vw;
  }
  .footer__contact-info-container {
    width: 24vh;
    margin: 2.25rem 2.25rem 0 0;
  }
  .footer__copyright {
    margin: 3rem 8rem 0 8rem;
    padding: 0 0 2.25rem 0;
  }
}
.shows__title {
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2.25rem 1rem 0 1rem;
}
.shows__header {
  display: none;
}
.shows__container {
  display: flex;
  flex-direction: column;
}
.shows__content {
  border-bottom: 1px solid #e1e1e1;
}
.shows__content-label {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-size: 0.7rem;
  color: #AFAFAF;
  margin: 1.25rem 1rem 0 1rem;
}
.shows__content-label--date {
  font-family: "AvenirDemi";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 0.25rem 1rem 0 1rem;
}
.shows__content-label--venue {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 0.25rem 1rem 0 1rem;
}
.shows__content-label--location {
  font-family: "AvenirRegular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 0.25rem 1rem 0 1rem;
}
.shows__content-label--button {
  background-color: #323232;
  color: #ffffff;
  text-align: center;
  padding: 0;
  border-style: none;
  border-radius: 0.25rem;
  height: 2.5rem;
  font-family: "AvenirDemi";
  width: 100%;
  margin-bottom: 1rem;
}
.shows__content-label--button:hover {
  background-color: #000000;
}
.shows__content-label--button:hover {
  background-color: #323232;
  box-shadow: 2px 2px 20px;
}
.shows__content-btn-container {
  margin: 1.25rem 1rem 0 1rem;
}

@media screen and (min-width: 768px) {
  .shows__title {
    font-family: "Avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 2.25rem 2.25rem 0 2.25rem;
  }
  .shows__header {
    margin: 0 2.25rem;
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  .shows__content {
    display: flex;
    justify-content: space-between;
    margin: 0 2.25rem;
  }
  .shows__content-label {
    display: none;
  }
}
* {
  font-family: "AvenirRegular", "AvenirDemi", "AvenirBold", Verdana, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=shows.css.map */