@use "./partials/components/mixins";
@use "./partials/variables";
@use "./partials/fonts";
@use "./partials/components/header";
@use "./partials/components/hero-shows";
@use "./partials/components/footer";
@use "./partials/breakpoints";


* {
    font-family: "AvenirRegular", "AvenirDemi", "AvenirBold", Verdana, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}